# create a new directory and enter it
function cdmkdir() { mkdir -p "$@" && cd "$@" }

# move file/directory to the trash
function trash () {
  local trash_dir="${HOME}/.Trash"
  local temp_ifs=$IFS
  IFS=$'\n'
  for item in "$@"
  do
    if [[ -e "$item" ]]
    then
      item_name="$(basename $item)"
      if [[ -e "${trash_dir}/${item_name}" ]]
      then
        mv -f "$item" "${trash_dir}/${item_name} $(date "+%H-%M-%S")"
      else
        mv -f "$item" "${trash_dir}/"
      fi
    fi
  done
  IFS=$temp_ifs
}

# git functions
function get_git_branch() {
  echo `git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/'`
}

#shortcut to open documentation with dash
function dash() { open dash://"$1" }

# shortcut for code directory
function c() { cd ~/code/$1 }
function _c() { _files -W ~/code -/ }
compdef _c c
